<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student Info</title>
    <link rel="stylesheet" href="/Css/studentinfo.css" media="all" type="text/css">
    <link rel="stylesheet" href="/Css/studentInfoResp.css" media="all" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/all.min.css" media="all" type="text/css">
</head>
<body>
    <div class="main-div">
        {{>navbar}}
        <div class="log-div">
            <div class="option-div">
                <a href="">My Dashboard</a>
                <a href="">Student</a>
                <a href="">Courses</a>
                <a href="">Fees</a>
                <a href="">Verification</a>
                <a href="">Institutes</a>
                <a href="">Certification</a>
                <a href="">Contact</a>
                <a href=""><i class="fa-solid fa-user-astronaut"></i> Sign up</a>
                <a href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                <a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
            <div class="data-div">
                <div class="scroll-div">
                        <div class="top-info">
                            <div class="img-div">
                                {{!-- student img --}}
                                <img src="/img/account.jpg" alt="">
                            </div>
                            <div class="information-div">
                                <div class="name-div">
                                    <p>Name:  Tushar Chauhan</p>
                                </div>
                                <div class="roll-div">
                                    <p>Roll_no:  2006950100045</p>
                                </div>
                                <div class="phone-div">
                                    <p>Phone_no: 8791339260</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-div">
                            <div class="div">
                                <div class="info">
                                    <p>info:</p>
                                </div>
                                <div class="info">
                                    <p>info:</p>
                                </div>
                                <div class="info">
                                    <p>info:</p>
                                </div>
                                <div class="info">
                                    <p>info:</p>
                                </div>
                                <div class="info">
                                    <p>info:</p>
                                </div>
                                <div class="info">
                                    <p>info:</p>
                                </div>
                                <div class="info">
                                    <p>info:</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/JQuery/jquery-3.6.1.min.js"></script>
    <script src="/JQuery/student.js"></script>
</body>
</html>