<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/Css/student.css" media="all" type="text/css">
    <link rel="stylesheet" href="/Css/studentResp.css" media="all" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/all.min.css" media="all" type="text/css">
    {{!-- <link rel="stylesheet" href="/slick-1.8.1/slick/slick-theme.css"> --}}
    {{!-- <link rel="stylesheet" href="/slick-1.8.1/slick/slick.css"> --}}
</head>

<body>
    <div class="main-div">
            {{>navbar}}
        <div class="log-div">
            <div class="option-div">
                <a href="">My Dashboard</a>
                <a href="">Student</a>
                <a href="">Courses</a>
                <a href="">Fees</a>
                <a href="">Verification</a>
                <a href="">Institutes</a>
                <a href="">Certification</a>
                <a href="">Contact</a>
                <a href=""><i class="fa-solid fa-user-astronaut"></i> Sign up</a>
                <a href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                <a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
            <div class="data-div">
                <div class="scroll-div">
                    {{!-- for dynamic you need to do this card-div into and loop that made the row of the card but 3 card at the time and at a row --}}
                    <div class="card-div">
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-div">
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-div">
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-div">
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/img/account.jpg" alt="">
                            <div class="info-div">
                                <div class="info">
                                    <p class="name">Name</p>
                                    <p class="roll_no">Roll_no</p>
                                </div>
                                <div class="button-div">
                                    <div class="edit-div">
                                        <a href="">Edit</a>
                                    </div>
                                    <div class="activate-div">
                                        <a href="">Activate</a>
                                    </div>
                                    <div class="delete-div">
                                        <a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <script src="/JQuery/jquery-3.6.1.min.js"></script>
    <script src="/JQuery/student.js"></script>
    {{!-- <script src="/slick-1.8.1/slick/slick.min.js"></script> --}}
</body>

</html>