<div class="nav-div">
    <div class="icon-div">
        <span class="icon-bar"><i class="fa-solid fa-bars"></i></span>
    </div>
    <div class="img-div">
        <img src="/img/photo.jpg" alt="" />
    </div>
    <div class="sign-div">
        <div class="heading-div">
            <h1>Students</h1>
            <p>You are at the "Silverwink" Students Page.</p>
        </div>
        <div class="info-div">
            <div class="profile-div">
                <img src="/img/photo.jpg" alt="" />
                <div class="para-div">
                <p class="user-name">Shubham Chaudhary</p>
                </div>
            </div>
            <div class="icon">
                <form action="">
                    <input type="search" placeholder="Enter here to search" id="search" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>  
        </div>
    </div>
</div>