<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/Css/Dashboard.css" media="all" type="text/css">
    <link rel="stylesheet" href="/Css/DashboardResp.css" media="all" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/all.min.css" media="all" type="text/css">
</head>

<body>
    <div class="main-div">
        {{>navbar}}
        <div class="log-div">
            <div class="option-div">
                <a href="">My Dashboard</a>
                <a href="">Student</a>
                <a href="">Courses</a>
                <a href="">Fees</a>
                <a href="">Verification</a>
                <a href="">Institutes</a>
                <a href="">Certification</a>
                <a href="">Contact</a>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
            <div class="data-div">
                <div class="course-div">
                    <div class="course">
                        <div class="accounts-div">
                            <div class="account">
                                discount
                            </div>
                            <div class="search-div">
                                <input type="search" placeholder="Search" class="searching">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                        <div class="course-details">
                            <div class="my-courses">

                            </div>
                            <div class="status">

                            </div>
                        </div>
                    </div>
                    <div class="fees-div">
                        <div class="My-fees">
                            <div class="fees">

                            </div>
                            <div class="searching-div">
                                <input type="search" placeholder="Search" class="searchin-div">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                        <div class="details-div">
                            <div class="phone-div">

                            </div>
                            <div class="amount">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-div">
                    <div class="profile">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/JQuery/jquery-3.6.1.min.js"></script>
    <script src="/JQuery/Dashboard.js"></script>
</body>

</html>