a{
    font-size:18px;
    text-decoration:none;
    color:#303841;
    font-weight:500;
}
a:hover{
    color:#F62A66 ;
}
body{
    width:100%;
    height:100vh;
    margin:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#F5F5F5;
}
.main-div{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
}
.main-div .nav-div{
    width:100%;
    height:100px;
    display:flex;
    /* box-shadow:4px 4px 10px; */
}
.main-div .nav-div .icon-div{
    display:none;
}
.main-div .nav-div .img-div{
    width:15%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.main-div .nav-div .img-div img{
    width:30%;
    height:80px;
}
.main-div .nav-div .sign-div{
    width:85%;
    height:inherit;
    display:flex;
    justify-content:space-between;
}
.main-div .nav-div .sign-div .heading-div{
    display:block;
    width:20%;
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.main-div .nav-div .sign-div .heading-div h1{
    font-size:25px;
    color:#303841;
    margin:0;
    font-weight:500;
}
p{
    margin:0;
    font-size:14px;
    color:#303841c9;
}
.main-div .nav-div .sign-div .info-div{
    width:50%;
    height:inherit;
    display:flex;
    align-items:center;
}
.main-div .nav-div .sign-div .info-div .profile-div{
    display:block;  
    width:50%;
    height:inherit;  
    display:flex;  
    align-items:center; 
}
.main-div .nav-div .sign-div .info-div .profile-div img{
    width:20%;
    height:80px;
    border-radius:10px;
}
.main-div .nav-div .sign-div .info-div .profile-div .para-div{
    width:75%;
    height:inherit;
}
.main-div .nav-div .sign-div .info-div .profile-div .para-div p{
    font-size:17px;
    margin:0;
    line-height:100px;
    margin-left:10px;
    color:#303841;
}
.main-div .nav-div .sign-div .info-div .icon{
    width:50%;
    height:inherit;
}
.main-div .nav-div .sign-div .info-div .icon form{
    width:100%;
    height:inherit;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.main-div .nav-div .sign-div .info-div .icon input{
    width:90%;
    height:40px;
    box-sizing:border-box;
    outline:none;
    border-radius:8px;
    border:1px solid rgba(0, 0, 0, 0.518);
    padding:0px 10px 0px 10px;
}
.main-div .nav-div .sign-div .info-div .icon i{
    position:absolute;
    right:20px;
    top:43px;
}
.main-div .log-div{
    width:100%;
    height:100vh;
    display:flex;
}
.main-div .log-div .option-div{
    display:block;
    width:15%;
    height:600px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;  
}
.main-div .log-div .data-div{
    width:84%;
    height:580px;
    background-color:rgba(207, 207, 207, 0.167);
    margin-top:20px;
    border-radius:30px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
.main-div .log-div .data-div .card-div{
    width:95%;
    height:260px;
    display:flex;
    justify-content:space-evenly;
}
.main-div .log-div .data-div .card-div .card{
    width:30%;
    height:inherit;
    background-color:#F5F5F5;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    position:relative;
    overflow:hidden;
}
.main-div .log-div .data-div .card-div .card img{
    width:100%;
    height:inherit;
    border-radius:10px;
}
.main-div .log-div .data-div .card-div .card .info-div{
    width:100%;
    height:160px;
    position:absolute;
    bottom:-60px;
    display:flex;
    flex-direction:column;
    background-color:#f5f5f57b; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: ease-in-out 0.5s;
}
.main-div .log-div .data-div .card-div .info-div:hover{
    bottom:0px;
    opacity:1;
}
.main-div .log-div .data-div .card-div .card .info-div .info{
    width:100%;
    height:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}
.info-div .info p{
    margin:0;
    font-size:15px;
    color:#303841;
}
.main-div .log-div .data-div .card-div .info-div .button-div{
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.main-div .log-div .data-div .card-div .info-div .button-div .edit-div,
.main-div .log-div .data-div .card-div .info-div .button-div .delete-div,
.main-div .log-div .data-div .card-div .info-div .button-div .activate-div{
    width:28%;
    height:35px;
    background-color:#F62A66;
    text-align:center;
    line-height:35px;
    border-radius:8px;
}
.edit-div a,
.activate-div a,
.delete-div a{
    font-size:15px;
    color:#D6E6F2 ;
}

